# Dependencies
node_modules
.pnp
.pnp.js

# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build files
dist
build
.DS_Store

# Cache
.npm
.eslintcache

# Editor directories
.idea
.vscode
*.swp
*.swo

# Archive files
*.rar
*.zip 